<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MvvmCross" version="5.7.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="MvvmCross.Binding" version="5.7.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="MvvmCross.Core" version="5.7.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="MvvmCross.Forms" version="5.7.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="MvvmCross.Platform" version="5.7.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="MvvmCross.Plugin.DownloadCache" version="5.7.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="MvvmCross.Plugin.File" version="5.7.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="MvvmCross.Plugin.Json" version="5.7.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="System.Collections.Immutable" version="1.4.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.Forms" version="2.5.0.280555" targetFramework="portable45-net45+win8+wpa81" />
</packages>